# General
# Local
VITE_NODE_ENV=development
PORT=3000

# API
# Local
VITE_API_BASE_URL=http://localhost:4006/api
# Development
# VITE_API_BASE_URL=ask your team for the dev server URL

#### Mercado Pago dev credentials
VITE_MP_PUBLIC_KEY="ask your team for the dev public key"
